*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6f9;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:70px;
background:#0C2340;
padding:10px;
display:flex;
flex-direction:column;
gap:10px;
}

.logo{
background:#1D9E75;
color:white;
padding:10px;
border-radius:8px;
text-align:center;
font-weight:bold;
}

.nav-btn{
padding:10px;
border:none;
background:transparent;
color:white;
cursor:pointer;
border-radius:8px;
}

.nav-btn:hover{
background:rgba(255,255,255,0.1);
}

.content{
flex:1;
padding:20px;
}

.topbar{
margin-bottom:20px;
}

.screen{
display:none;
}

.screen.active{
display:block;
}

.upload-box{
background:white;
padding:30px;
border-radius:12px;
text-align:center;
}

.upload-box button{
margin-top:15px;
padding:10px 20px;
background:#0C2340;
color:white;
border:none;
cursor:pointer;
}

.terminal{
margin-top:20px;
background:#111;
color:#3fb950;
padding:15px;
border-radius:10px;
height:180px;
overflow:auto;
font-family:monospace;
}

.stats{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-bottom:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
}

.label{
font-size:12px;
color:#777;
}

.value{
font-size:30px;
font-weight:bold;
color:#534AB7;
}

.gap-row{
display:flex;
align-items:center;
gap:10px;
margin:15px 0;
}

.bar{
flex:1;
height:8px;
background:#ddd;
border-radius:20px;
}

.fill{
height:100%;
background:#534AB7;
border-radius:20px;
}

.roadmap-item{
display:flex;
gap:15px;
background:white;
padding:15px;
margin:10px 0;
border-radius:10px;
}

.number{
width:35px;
height:35px;
background:#EEEDFE;
color:#534AB7;
display:flex;
align-items:center;
justify-content:center;
border-radius:8px;
font-weight:bold;
}

.job-card{
background:white;
padding:20px;
border-radius:10px;
margin-top:15px;
}

.cover-letter{
margin:15px 0;
background:#f4f4f4;
padding:15px;
border-left:4px solid #534AB7;
}

button{
padding:10px 15px;
background:#0C2340;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

.submitted{
background:#1D9E75;
color:white;
padding:6px 12px;
border-radius:20px;
}